.room-list-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-list-window::before {
  content: "";
  background-image: url('../../img/menu_back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.list-title {
  font-weight: 600;
  font-size: 16pt;
  font-family: cursive;
  border-radius: 0.3rem;
  background-color: rgba(224, 224, 224, 0.5);
  padding: 0px 10px 0px 10px;
  width: fit-content;
}

.list-rooms {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: top;
  flex-direction: column;
  margin: 5em;
}

.list-rooms-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.list-rooms-row {
  display: flex;
  align-items: top;
  flex-direction: row;
}

.list-rooms-row-prop {
  margin: 4px;
}

.list-options {
  height: 100%;
}

.icons svg {
  color: #000000;
  border: 1px solid #b5b3b3;
  padding: 6px;
  margin-left: 4px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: rgba(224, 224, 224, 0.5);
}

.list-group li {
  margin-bottom: 12px
}

.list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  border: 1px solid #e3dada;
  margin-top: 12px;
  border-radius: 5px;
  background: #fff;
}

.list-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkicon {
  color: green;
  font-size: 19px
}

.date-time {
  font-size: 12px
}

.profile-image img {
  margin-left: 3px
}