<app-locale-selector class="menu__language"></app-locale-selector>

<div *ngIf="!(isAuthenticated$ | async)">
  <app-auth></app-auth>
</div>

<div *ngIf="isAuthenticated$ | async">
  <div class="menu__list">
    <div class="menu__item" [routerLink]="['/game-list']">{{ "play" | translate }}</div>
    <div class="menu__item">{{ "settings" | translate }}</div>
    <div class="menu__item">{{ "about" | translate }}</div>
    <div class="menu__item" (click)="onExit()">{{ "exit" | translate }}</div>
  </div>
</div>
